#header {
  background-color: #4267b2;
  color: white;
}
#left {
  background-color: rgba(231, 233, 233, 1);
  height: 600px;
}
#mid {
  background-color: rgba(231, 233, 233, 1);
  overflow: auto;
  height: 600px;
}
#right {
  background-color: rgba(231, 233, 233, 1);
  height: 600px;
  overflow: auto;
}
.right-sidebar{
  background-color:blue;
  color:white;
}
#header ul .glyphicon {
  font-size: 15px;
}
#facebook{
  font-size:35px;
  margin-top:-5px;
  margin-left:15px;
  margin-right:0px;

}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.white-text {
  color: white !important;
}
p {
	margin: 0 0 10px;
}
.comment {
    margin: 0;
}
.text-post {
    margin-bottom: 15px;
    margin-top: 0;
}
.image-post {
    margin-bottom: 15px;
}
.btn {
  border-radius: 50px;
  width: auto;
  color: black;
  padding:10px;
  margin-top:5px;
}


.pull-right {
  float: right!important;
}
.list-heading {
  padding: 20px 15px 0 15px;
  font-size: 12px;
}
.panel-body .glyphicon {
  margin-left: 10px;
  margin-right: 4px;
  color: black;
}
.panel-title {
  color: Black;
  font-size: 18pxpx;
}
.panel-footer {
  color: black;
  background-color:rgba(231, 233, 233, 1);
}
.panel-body {

}
.pic1 {
  height: 50px;
  padding: 10px 15px 10 15;
  display: inline-block;
  margin-right: 10px;
}
.pic2 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic3 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic4 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic5 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic6 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic7 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic8 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic9 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic10 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic11 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
#search {
  border-radius: 0px;
  margin-left:-40px;
  height:33px;
  margin-top: -2px;

}
.pic12 {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  display: inline-block;
}
.pic13 {
  height: 20px;
  width: 20px;
  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
}
.pic14 {

  padding: 10px 15px 10 15;
  margin-right: 10px;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
}

.active, .dot:hover {
    background-color: lightgray !important;
}
